Pyro5>=5.10
deprecation>=2.1.0
pyserial>=3.4
pyvisa>=1.10.1
pyvisa-py>=0.5.2
numpy>=1.19.1
scipy>=1.5.2
pytest>=6.0.1
bump2version>=1.0.0 
pyfirmata
pyyaml
pydantic
typer
tabulate
colorama
black
isort>=5.0.0
tabulate==0.9.0